@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff;
  /* overflow: hidden; */
}

/* NAVBAR */

nav div img {
  border-radius: 100px;
  max-width: 40px;
  max-height: 40px;
}

nav div {
  display: flex;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  font-weight: 700;
  font-size: larger;
}

nav {
  padding: 1.5rem 5rem;
  background-color: #22182dac;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

nav span {
  color: #a148b7;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  padding: 4px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid #40a2e300;
}

nav ul li a:hover {
  color: #a148b7;
  border-bottom: 1px solid #a148b7;
}

.menu-icon {
  font-size: 26px;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* NAVBAR */

  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    background: #22182db1;
    box-shadow: none;
  }

  main {
    padding-top: 5rem;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    align-items: flex-end;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    color: white;
  }
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

.home-container {
  width: 100%;
  height: 630px;
  background-color: rgba(0, 0, 0, 0.9);
  /* background: #382d45; */
  display: flex;
}

.home-wrapper1 {
  margin-top: 69px;
  height: 89%;
  width: 50%;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.home-wrapper2 {
  margin-top: 69px;
  height: 89%;
  width: 50%;
  /* border: 1px solid red;  */
  display: flex;
  align-items: center;
}

.wrapper1-content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 1px solid red; */
}

.wrapper1-content img:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
}

.wrapper1-content img {
  max-width: 350px;
  border-radius: 20px;
  border: 3px solid #a148b7;
  /* border-radius: 20px; */
  opacity: 0.8;
  transition: opacity 1s ease 0s;
  transition: 1s ease 0s;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.wrapper2-content {
  width: 90%;
  /* border: 1px solid red; */
  height: auto;
  margin: auto;
}

.wrapper2-content p {
  color: #b0b0b0;
  font-size: 20px;
  text-align: start;
}

.wrapper2-content h1 {
  color: #f9f9f9;
  font-size: 36px;
  padding: 0 0 30px 0;
}

.wrapper2-content span {
  color: #a148b7;
}

.wrapper2-content a {
  text-decoration: none;
}

.about-btn {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #efefef;
  background-color: #a148b7;
  padding: 12px 35px;
  border: solid #ffffff 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 35px 50px;
  transition: 1517ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: lowercase;
}

.about-btn:hover {
  transition: 1517ms;
  padding: 12px 48px;
  transform: translateY(-9px);
  background-color: #fff;
  color: #a148b7;
  border: solid 2px #a148b7;
}

.about-container {
  width: 100%;
  height: 700px;
  background: #504759;
  display: flex;
  align-items: center;
}

.about-wrapper1 {
  width: 50%;
  height: 70%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about1-content {
  width: 80%;
  height: auto;
  /* border: 1px solid red; */
}

.about1-content h1 {
  /* margin-top: 3px; */
  font-size: 38px;
  color: #ffffff;
}
.about1-content h3 {
  color: #a148b7;
}

.about1-content p {
  margin-top: 20px;
  color: #919191;
  font-size: 16px;
}

.about-wrapper2 {
  width: 25%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: end;
  align-items: end;
}

.about-wrapper2 img {
  width: 300px;
  border-bottom: 2px solid white;
}

.study-year {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 12%;
  margin-top: 180px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transform: skew(17deg, -7deg);
  transition: 1s ease 0s;
}

.study-year h1 {
  font-size: 40px;
  padding-right: 5px;
  color: #a148b7;
}
 
.study-year p {
  color: white;
}

.digital-award {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 12%;
  margin-top: 60px;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transform: skew(-15deg, 4deg);
  transition: 1s ease 0s;
}

.digital-award h1 {
  font-size: 40px;
  padding-right: 12px;
  color: #a148b7;
}

.project-finished {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 12%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transform: skew(15deg, -3deg);
  transition: 1s ease 0s;
}

.project-finished:hover {
  -webkit-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
}

.study-year:hover {
  -webkit-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
}

.digital-award:hover {
  -webkit-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px -32px rgba(255, 255, 255, 1);
}

.project-finished h1 {
  font-size: 40px;
  padding-right: 12px;
  color: #a148b7;
}

.about-wrapper3 p {
  color: white;
}

.about-wrapper3 {
  height: 100%;
  width: 25%;
  /* border: 1px solid yellow; */
}

@media only screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    height: 540px;
    /* margin: auto; */
  }

  .wrapper2-content a {
    /* display: none; */
  }

  .home-wrapper1 {
    margin: auto;
    margin-top: 80px;
  }

  .home-wrapper2 {
    margin: auto;
    width: 100%;
    /* margin-top: 20px; */
  }

  .home-wrapper2 p {
    font-size: 18px;
  }

  .home-wrapper2 h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .wrapper2-content {
    margin-top: 10px;

  }

  .about-btn {
    padding: 10px 34px;
    font-size: 16px;
  }

  .about-btn:hover {
    padding: 10px 36px;
    font-size: 16px;
  }

  .wrapper1-content img {
    width: 200px;
  }

  .about-container {
    flex-direction: column;
    height: auto;
  }

  .about-wrapper1 {
    width: 100%;
  }

  .about-wrapper1 h3 {
    margin-top: 60px;
    font-size: 18px;
  }

  .about-wrapper1 h1 {
    font-size: 32px;
  }

  .about-wrapper3 {
    width: 50%;
    margin-bottom: 40px;
  }

  .about-wrapper2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .about-wrapper2 img {
    width: 200px;
  }

  .study-year {
    margin-top: 65px;
    height: 80px;
  }
  .digital-award {
    margin-top: 25px;
    height: 80px;
  }
  .project-finished {
    margin-top: 25px;
    height: 80px;
  }
}

.skills {
  width: 100%;
  background-color: #504759;
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.skill-wrapper {
  width: 80%;
  height: 70%;
}

.skill-wrapper h1 {
  text-align: center;
  margin: 20px 0 40px 0;
  color: white;
  font-size: 28px;
}

.skill-list {
  width: 95%;
  height: auto;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
}
.skill-list2 {
  width: 95%;
  height: auto;
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
}

.skill-item {
  width: 175px;
  height: 60px;
  border: 1.5px solid #c3c3c3;
  margin: 10px;
  border-radius: 10px;
  background: #2f2f2f8a;
  display: flex;
  align-items: center;
  transition:all 1s ease 0s;
}

.skill-item:hover {
  background-color: #a148b7;
  border: 2px solid #f9f9f9;
}

.skill-item img {
  margin-left: 10px;
  margin-right: 15px;
  height: 35px;
  display: flex;
}

.skill-item p {
  font-weight: 700;
  font-size: 18px;
  color: #f9f9f9;
}

.sekumlah {
  width: 100%;
  height: 600px;
  background-color: #504759;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.school-wrapper {
  width: 50%;
  height: 90%;
  text-align: center;
}

.school-wrapper img {
  height: 100%;
  border-radius: 10px;
}

.school-wrapper2 h1 {
 color: white;
 font-size: 26px;
 font-weight: 600;
 padding-bottom: 40px;
 padding-top: 20px;
}

.school-wrapper2 {
  margin-left: 50px;
  width: 30%;
  height: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.school-wrapper2 h1 {
  text-align: center;
  color: #ffffff;
}

.school-content {
  width: 80%;
  height: 70%;
  margin: auto;
  display: flex;
}

.school-path {
  width: 15px;
}

.school-point {
  width: 12.5px;
  height: 12.5px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 100px;
}

.vertical-path {
  width: 3px;
  height: 85%;
  background-color: #ffffff;
  margin: auto;
}

.school-grade h3 {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
}

.school-grade {
  margin-left: 10px;
}

.school-grade p {
  margin-bottom: 45px;
  color: #c2c2c2;
}

.wife {
  width: 100%;
  height: 700px;
  background-color: #504759;
}

@media only screen and (max-width: 768px) {
  .skill-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-wrapper h1 {
    margin: 0 15px;
    font-weight: 600;
    font-size: 20px;
  }

  .skill-list {
    flex-direction: column;
    width: auto;
    margin: 0;
  }

  .skill-list2 {
    flex-direction: column;
    width: auto;
    margin: 0;
  }

  .skill-item {
    width: 155px;
    height: 60px;
    border: 1.5px solid #c3c3c3;
    margin: 5px;
    border-radius: 10px;
  }

  .skill-item img {
    margin-left: 10px;
    /* margin-right: 15px; */
    height: 25px;
    display: flex;
  }
  
  .skill-item p {
    font-weight: 600;
    font-size: 14px;
    color: #f9f9f9;
  }

  .sekumlah {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: auto;
  }

  .school-wrapper {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
  }

  .school-wrapper img {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .school-wrapper2 {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .school-wrapper2 h1 {
    padding-bottom: 30px;
  }

  .school-grade p {
    margin-bottom: 30px;
  }
}
