*, html {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', sans-serif ;
}

.container {
    background-color: #353535;
    width: 100%;
    height: 100dvh; 
    display: flex;
}

.konten-kiri {
    width: 45%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border: 1px solid white;
}

.konten-kiri div{
    color: white;
}

.isi {
    width: 70%;
}

.isi h1 {
    margin-bottom: 10px;
}

.konten-kanan {
    width: 55%;
    height: 100dvh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.isi2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #505050;
    display: flex;
    align-items: center;
    justify-content: center;
}